<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsy.yebserver.dao.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tsy.yebserver.dao.entity.Department">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parentId" property="parentId"/>
        <result column="depPath" property="depPath"/>
        <result column="enabled" property="enabled"/>
        <result column="isParent" property="isParent"/>
    </resultMap>

    <resultMap id="DepartmentWithChildren" type="com.tsy.yebserver.dao.entity.Department" extends="BaseResultMap">
        <collection property="children" ofType="com.tsy.yebserver.dao.entity.Department"
                    select="listDepartmentsByParentId" column="id">
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,parentId,depPath,enabled,isParent
    </sql>


    <!--存储过程调用用select标签即可,statementType声明调用类型，默认是prepared，即prepared statement，调用时是预编译的,出参要指定类型并标记成OUT-->
    <select id="addDepartment" statementType="CALLABLE">
        call addDep(#{name},#{parentId},#{enabled},#{result,mode=OUT,jdbcType=INTEGER},#{id,mode=OUT,jdbcType=INTEGER})
    </select>

    <select id="listDepartmentsByParentId" resultMap="DepartmentWithChildren">
        select
        <include refid="Base_Column_List"/>
        from t_department
        where parentId = #{parentId}
    </select>
</mapper>